@model IEnumerable<WebLaptop.Models.CauHinh>
@using WebLaptop.Models;
@{
    ViewBag.Title = "CauHinhWeb";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Cập nhật cấu hình</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Default")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cấu hình</li>
                        </ol>
                    </nav>
                </div>
                
            </div>
        </div>
        <div class="pd-20 card-box mb-30">
            <div class="clearfix">
                <div class="pull-left">
                    <h4 class="text-blue h4">Cấu hình web</h4>
                </div>
                <div class="pull-right">
                    <a href="#basic-form1" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"></a>
                </div>
            </div>
            <form method="post">
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Logo</label>
                    <div class="col-sm-12 col-md-10 d-flex">
                        <input class="form-control" placeholder="" value="@ViewBag.CauHinh.Logo" type="text" name="Logo" required id="Logo">
                        <input type="button" class="btn btn-success" id="btn-Logo" value="upload ảnh" required>
                        <script>
                            $("#btn-Logo").click(function () {
                                var finder = new CKFinder();
                                finder.selectActionFunction = function (fileUrl) {
                                    $("#Logo").val(fileUrl);
                                }
                                finder.popup();
                            });
                        </script>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Công ty</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" value="@ViewBag.CauHinh.CongTy" type="text" placeholder="" name="CongTy" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Địa chỉ</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" value="@ViewBag.CauHinh.DiaChi" placeholder="" name="DiaChi" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Số điện thoại</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" value="@ViewBag.CauHinh.SoDienThoai" placeholder="" name="SoDienThoai" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" value="@ViewBag.CauHinh.Email" placeholder="" name="Email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ảnh</label>
                    <div class="col-sm-12 col-md-10 d-flex">
                        <input class="form-control" placeholder="" value="@ViewBag.CauHinh.Banner1" type="text" name="Banner1" required id="Banner1">
                        <input type="button" class="btn btn-success" id="btn-banner1" value="upload ảnh" required>
                        <script>
                            $("#btn-banner1").click(function () {
                                var finder = new CKFinder();
                                finder.selectActionFunction = function (fileUrl) {
                                    $("#Banner1").val(fileUrl);
                                }
                                finder.popup();
                            });
                        </script>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ảnh</label>
                    <div class="col-sm-12 col-md-10 d-flex">
                        <input class="form-control" placeholder="" value="@ViewBag.CauHinh.Banner2" type="text" name="Banner2" required id="Banner2">
                        <input type="button" class="btn btn-success" id="btn-banner2" value="upload ảnh" required>
                        <script>
                            $("#btn-banner2").click(function () {
                                var finder = new CKFinder();
                                finder.selectActionFunction = function (fileUrl) {
                                    $("#Banner2").val(fileUrl);
                                }
                                finder.popup();
                            });
                        </script>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ảnh</label>
                    <div class="col-sm-12 col-md-10 d-flex">
                        <input class="form-control" placeholder=""  value="@ViewBag.CauHinh.Banner3"  type="text" name="Banner3" required id="Banner3">
                        <input type="button" class="btn btn-success" id="btn-banner3" value="upload ảnh" required>
                        <script>
                            $("#btn-banner3").click(function () {
                                var finder = new CKFinder();
                                finder.selectActionFunction = function (fileUrl) {
                                    $("#Banner3").val(fileUrl);
                                }
                                finder.popup();
                            });
                        </script>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ảnh</label>
                    <div class="col-sm-12 col-md-10 d-flex">
                        <input class="form-control" placeholder=""  value="@ViewBag.CauHinh.Banner4" type="text" name="Banner4" required id="Banner4">
                        <input type="button" class="btn btn-success" id="btn-banner4" value="upload ảnh" required>
                        <script>
                            $("#btn-banner4").click(function () {
                                var finder = new CKFinder();
                                finder.selectActionFunction = function (fileUrl) {
                                    $("#Banner4").val(fileUrl);
                                }
                                finder.popup();
                            });
                        </script>
                    </div>
                </div>

                <div class="btn-list">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Cập nhật</button>
                    <a href="@Url.Action("Index","Default")" class="btn btn-secondary btn-lg btn-block">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>



