@model IEnumerable<WebLaptop.Models.CauHinh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CongTy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CongTy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma })
        </td>
    </tr>
}

</table>
